*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    margin: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    
  }
#form {
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #333;
    margin: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="file"],
textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
textarea {
    resize: vertical;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #60d6e8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
}
button:hover {
    background-color: #4ebbcb;
}

#preview {
    display: none;
    width: 90%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.507);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
#resume-preview {
    width: 93.5%;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
#resume-preview .resume-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
}
#resume-preview .resume-header #preview-name{
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#resume-preview .resume-header .resume-details p{
    margin-top: 15px;
    margin-bottom: 10px;
}

#resume-preview .resume-header p{
    display: flex;
    justify-content: center;
    align-content: center;
}

#resume-preview .resume-header img {
    height: 170px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 20px;
}

#resume-preview .resume-body{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#resume-preview .resume-body div h3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}